<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>968351582880-j77ne4pocbccmpmngr7s86g0anect8va.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.968351582880-j77ne4pocbccmpmngr7s86g0anect8va</string>
	<key>API_KEY</key>
	<string>AIzaSyCYayJxABdOm-IudIWKK8PxWoZrwe3OaU4</string>
	<key>GCM_SENDER_ID</key>
	<string>968351582880</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chirp</string>
	<key>PROJECT_ID</key>
	<string>chirp-607b8</string>
	<key>STORAGE_BUCKET</key>
	<string>chirp-607b8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:968351582880:ios:4bd558ba9ae2c5ff6057c5</string>
</dict>
</plist>